

<html>

    <head>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    </head>

    <body ng-app="collectify">

    <div ng-controller="itemList">
        <div ng-repeat="item in items">
            <p decorate-item></p>
        </div>
    </div>
    
    <div ng-controller="categoryList">
        <div ng-repeat="category in categories">
            <p decorate-category></p>
        </div>
    </div>



    <script type="text/javascript" src="app.js"> </script>
    <!--Controllers -->
    <script type="text/javascript" src="src/controllers/CategoryController.js"></script>
    <script type="text/javascript" src="src/controllers/ItemController.js"></script>
    
    <!--DIrectives-->
    <script type="text/javascript" src="src/directives/ItemDecoratorDirective.js"></script>
    <script type="text/javascript" src="src/directives/CategoryDecoratorDirective.js"></script>
    
    <!--Filters-->

    <!--Services-->
    <script type="text/javascript" src="src/services/ItemProvider.js"></script>
    <script type="text/javascript" src="src/services/CategoryProvider.js"></script>
    
    </body>

</html>